.section {
  font-family: "open Sans", sans-serif;
  min-height: 80vh;
  background: #e6a79a;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 8rem;
  gap: 4rem;
}

.section::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: #f2f0ec;
  top: -100px;
  left: -100px;
  transform: rotate(20deg);
  z-index: 0;
}

.section > * {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  color: black;
  line-height: 1.2;
}
.text {
  color: black;
  max-width: 400px;
  margin-top: 2rem;
  text-shadow:
    0 0 30px rgba(0, 110, 255, 0.72),
    0 20px 40px rgba(0, 0, 0, 0.3);
}

.image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;

  transition: 0.3s ease;
}

.image:hover {
  width: 480px;
  height: 480px;
  transition: 0.1s;
}

.highlight {
  color: rgb(250, 240, 149);
  border-right: 2px solid #02161b;
  padding-right: 5px;
  animation: blink 1s infinite;
  text-shadow:
    0 0 30px rgba(1, 14, 32, 0.951),
    0 20px 40px rgba(0, 0, 0, 0.895);
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* ================= MOBILE ================= */

@media (max-width: 630px) {
  .section {
    flex-direction: column;
    justify-content: center; /* 🔥 importante */
    align-items: center;
    text-align: center;
    padding: 6rem 2rem;
  }

  /* 🔥 garante centralização total */
  .section > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2.2rem;
  }

  .text {
    max-width: 100%;
  }

  /* 🔥 corrige o problema do deslocamento */
  .image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  /* remove moldura no mobile */
  .image::before,
  .image::after {
    display: none;
  }

  .imageWrapper {
    width: 220px;
    height: 220px;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .image {
    display: none;
  }
}
