.section {
  font-family: "open Sans", sans-serif;
  min-height: 80vh;
  background: #e6a79a;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 8rem;
  gap: 4rem;
}

.section::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: #F2F0EC;
  top: -100px;
  left: -100px;
  transform: rotate(20deg);
  z-index: 0;
}

.section > * {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  color: black;
  line-height: 1.2;
}
.text {
  color: black;
  max-width: 400px;
  margin-top: 2rem;
  text-shadow:
    0 0 30px rgba(0, 110, 255, 0.72),
    0 20px 40px rgba(0, 0, 0, 0.3);
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  box-shadow:
    0 0 30px rgba(0, 110, 255, 0.72),
    0 20px 40px rgba(0, 0, 0, 0.3);
}

.show {
  opacity: 1;
  z-index: 2;
}

.hide {
  opacity: 0;
  z-index: 1;
}

.image:hover {
  width: 290px;
  height: 290px;
  transition: 0.1s;
}

/* .video {
 transform: scale(1);
} */

.video {
  object-fit: contain; /* Não corta, mantém proporção real */
  background: black; /* opcional,pra evitar bordas transparentes */
}

.editImage {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.editImage::before,
.editImage::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 3px solid #02161a;
}

/* quina superior esquerda */
.editImage::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

/* quina inferior direita */
.editImage::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.editImage:hover::before,
.editImage:hover::after {
  width: 80px;
  height: 80px;
  transition: 0.1s ease;
}

.highlight {
  color: rgb(250, 240, 149);
  border-right: 2px solid #02161b;
  padding-right: 5px;
  animation: blink 1s infinite;
  text-shadow:
    0 0 30px rgba(1, 14, 32, 0.951),
    0 20px 40px rgba(0, 0, 0, 0.895);
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
