.section {
  font-family: "Open Sans", sans-serif;
  background: #f2f0ec;
  width: 100%;
  padding: 7rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 0 2rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.text {
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 1.5rem;
  }

  .title {
    font-size: 2.2rem;
    text-align: center;
  }

  .text {
    text-align: justify;
  }
}
