.menu {
  font-family: "open sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  width: 100%;
  border-bottom: none;
  z-index: 100;
  transition: all 0.3s ease;
}

.content {
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.logo:hover {
  color: #505254;
  transition: 50%;
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #0a1128;
  font-weight: bold;
}

.link:hover {
  color: gray;
}

.small .content {
  padding: 0.5rem 2rem;
}

.small .logo {
  font-size: 1.1rem;
}

.small {
  background: #e6a79a;
  border-bottom: 1px solid #eee;
}
.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 760px) {
  .hamburger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 0;

    background: white;
    backdrop-filter: blur(10px);

    flex-direction: column;
    width: 200px;
    padding: 1rem;

    transform: translateY(-200%);
    opacity: 0;

    transition: 0.3s ease;
  }

  .nav.open {
    transform: translateY(0);
    opacity: 1;
  }

  .nav li {
    margin: 0.5rem 0;
  }
}

@media (max-width: 760px) {
  .content {
    padding: 0.8rem 1rem;
  }

  .logo {
    font-size: 1.1rem;
  }

  .nav {
    gap: 1rem;
  }

  .link {
    font-size: 0.9rem;
  }
}
